.forgot-password-area {
    position: absolute;
    top: 35%;
    left: 44.5%;

    .forgot-email-input {
        display: block;
    }

    .forgot-button {
        width: 195px;
        margin-left: 9px;
        transition: all 0.6s;
        border: 2px solid currentColor;
        border-radius: 3rem;
        color: rgb(72, 61, 139);
        font-size: 2rem;
        font-weight: 100;
        overflow: hidden;
        padding: 1rem 2rem;
        position: relative;
        transition: .2s transform ease-in-out;
        will-change: transform;
        z-index: 0;
        background-color: transparent;

        &::after {
            background-color: rgb(72, 61, 139);
            border-radius: 3rem;
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-100%, 0) rotate(10deg);
            transform-origin: top left;
            transition: .2s transform ease-out;
            will-change: transform;
            z-index: -1;
        }


        &:focus {
            transition: all 0.6s;
            box-shadow: none !important;
        }
        &:hover::after{
            transform: translate(0, 0);
        }
        &:hover{
            border: 2px solid transparent;
            color: #F0FFFF;
            transform: scale(1.05);
            will-change: transform;
        }
   
       
    }

    .forgot-image {
        width: 100px;
        margin-left: 55px;
    }
}