.add-buttons-area {
    .add-button {
      box-shadow: none !important;
      transition: all 0.6s;
      font-size: 12px;
  
      &:focus {
        transition: all 0.6s;
        box-shadow: none !important;
      }
  
    }
  
}