.student {
    .create-student-btn-area {
        display: flex;
        justify-content: end;

        .create-student-btn {
            box-shadow: none;
            transition: all 0.6s;

            &:focus {
                transition: all 0.6s;
                box-shadow: none;
            }
        }

        .create-student-textarea {
            .create-student-input {
                width: 100% !important;
            }
        }
    }
    .student-details-area{
        text-align: justify;
        .student-details-area-description{
            margin-left: 30px;
        }
    }

    .student-button {
        box-shadow: none !important;
        transition: all 0.6s;
        font-size: 12px;

        &:focus {
            transition: all 0.6s;
            box-shadow: none !important;
        }
    }

    .student-table {
        .student-row{
            padding-top: 15px;
        }
        .group-code {
            font-size: 14px;
            padding-top: 15px;
        }
    }
    .student-edit-area{
        text-align: start;
    }

    .addition {

        .addition-title {
            display: inline-block;
            position: relative;
        }

        .addition-title:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #f4df3f;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        .addition-title:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        .student-birthday {
            border-radius: 4px;
            color: navy;
            border: 1px solid rgb(190, 186, 186);
            width: 210px;
            margin-top: 13px;
            height: 56px;
            padding: 10px;

        }

        .react-datepicker-popper {
            z-index: 4;
        }

        .react-datepicker__close-icon {
            margin-right: 10px;
        }

        .react-datepicker__header {
            background-color: #2574ba;
        }
    }
}