.language{
    margin-top: 1%;
    .btn-outline-light{
        width: 158px;
        color: rgb(159, 157, 157);
        outline: none;
        height: 75%;        
        
    }

   
    li{
        padding-left: 21px;
    }
}